body {
  background-color: var(--bg-color);
  color: var(--font-color);
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  height: max-content;
}

header {
  grid-area: header;
  background-color: var(--secondary-color);
  padding: 20px;
  width: 1300px;
  max-height: 80px;
  margin: 10px auto;
  border-radius: 5px;
  border-left: 3px solid var(--main-color);
  border-right: 3px solid var(--main-color);
  position: relative;
  top: 0px;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "hero"
    "about"
    "parcours"
    "work"
    "competences";
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, auto);
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.footer-container ul {
  display: flex;
  gap: 80px;
}
/*_________________________________________________________________________________________________*/

nav > div ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.hero {
  grid-area: hero;
  display: grid;
  grid-template-areas: "hero-left hero-right";
  grid-template-columns: 65% 35%;
  grid-template-rows: auto;
  font-size: 2rem;
}

.hero-left {
  grid-area: hero-left;
  padding: 200px 0 0 50px;
}

.hero-right {
  grid-area: hero-right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: url(../asset/img/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
}

.about-left {
  grid-area: about-left;
}
.about-right {
  grid-area: about-right;
  display: flex;
  justify-content: end;
}

.hero a {
  /* GITHUB BUTTON */
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: max-content;
  padding: 12px 24px;
  font-size: 1.25rem;
  background-color: var(--font-color);
  color: var(--secondary-color);
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  gap: 20px;
}

.hero a:hover {
  background-color: #bababa;
}

.hero img {
  width: 100%;
}
/*_________________________________________________________________________________________________*/
.about {
  grid-area: about;
  display: grid;
  grid-template-areas: "about-left about-right";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: start;
  background-color: var(--bg-color);
  margin: 0 50px;
}

.about-left {
  grid-area: about-left;
}

.about-right {
  grid-area: about-right;
  display: flex;
  justify-content: end;
}

.about-right img {
  width: 400px;
  padding: auto 50px 0 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--main-color);
}

.about p {
  padding: 50px;
  background-color: var(--bg-color);
  border-left: 3px solid var(--main-color);
  border-right: 3px solid var(--main-color);
  border-radius: 5px;
  line-height: 25px;
}
/*_________________________________________________________________________________________________*/
.parcours {
  display: grid;
  grid-template-areas: "parcours-title parcours-timeline";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-around;
  align-items: center;
}

.parcours-title {
  height: 100%;
  grid-area: parcours-title;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--secondary-color);
  border-right: 3px solid var(--main-color);
  border-bottom: 3px solid var(--secondary-color);
  border-top: 3px solid var(--main-color);
  border-top-right-radius: 1200px;
  border-bottom-right-radius: 4000px;
  margin-right: 400px;
  padding-bottom: 200px;
}

.parcours-title span {
  position: sticky;
  top: 75px;
  font-size: 2.5em;
  margin: 0 auto;
}
.parcours-title svg {
  position: sticky;
  top: 0px;
  width: 80px;
  margin: 50px auto 0 auto;
}

.parcours-timeline > p > span:first-child {
  color: var(--main-color);
  font-family: Geist-SemiBold;
  font-size: 2.25rem;
}
.parcours-timeline > p > span:last-child {
  font-family: Geist-SemiBold;
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-underline-offset: 8px;
}

/* TIMELINE */
.parcours-timeline {
  grid-area: parcours-timeline;
  margin-right: 50px;
}

.parcours-timeline p {
  font-size: 1em;
  border-top: 3px solid;
  border-image: linear-gradient(
    to right,
    var(--secondary-color) 0%,
    var(--main-color) 100%
  );
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 100px;
  counter-increment: section;
  position: relative;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  gap: 15px;

  /* Numbers */
  &:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25rem;
    width: 1.25rem;
    background-color: var(--main-color);
    text-align: center;
    color: var(--bg-color);
    font-size: 1rem;
  }
}
/* Odd number borders */
.parcours-timeline p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;

  &:before {
    left: 100%;
    margin-left: -20px;
  }
}
/* Even number borders */
.parcours-timeline p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;

  &:before {
    right: 100%;
    margin-right: -20px;
  }
}
/* Handle first and last */
.parcours-timeline p:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.parcours-timeline p:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/*____________________________________________________________________________________________________________________________________________________________*/

.work {
  display: grid;
  grid-template-areas: "work-timeline work-title";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid var(--main-color);
}

.work-title {
  height: 100%;
  grid-area: work-title;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: end;
  background-color: var(--secondary-color);
  border-top: 3px solid var(--main-color);
  border-left: 3px solid var(--secondary-color);
  border-bottom: 3px solid var(--main-color);
  border-bottom-left-radius: 4000px;
  border-top-left-radius: 1200px;
  margin-left: 400px;
  padding-bottom: 250px;
  z-index: 2;
}

.work-title span {
  position: sticky;
  top: 0;
  font-size: 2.5em;
  margin: 100px auto 0 auto;
}
.work-title svg {
  position: sticky;
  top: 60px;
  margin: 0 auto;
}

.work-timeline > p > span:first-child {
  color: var(--main-color);
  font-family: Geist-SemiBold;
  font-size: 2.25rem;
}
.work-timeline > p > span:last-child {
  font-family: Geist-SemiBold;
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-underline-offset: 8px;
}

/* TIMELINE */
.work-timeline {
  grid-area: work-timeline;
  margin-left: 50px;
}

.work-timeline p {
  font-size: 1em;
  border-top: 3px solid;
  border-image: linear-gradient(to right,var(--secondary-color) 0%,var(--main-color) 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 100px;
  counter-increment: section;
  position: relative;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  gap: 15px;

  /* Numbers */
  &:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25rem;
    width: 1.25rem;
    background-color: var(--main-color);
    text-align: center;
    color: var(--bg-color);
    font-size: 1rem;
  }
}
/* Odd number borders */
.work-timeline p:nth-child(odd) {
  border-left: 3px solid;
  padding-right: 0;

  &:before {
    right: 100%;
    margin-right: -20px;
  }
}
/* Even number borders */
.work-timeline p:nth-child(even) {
  border-right: 3px solid;
  padding-left: 0;

  &:before {
    left: 100%;
    margin-left: -20px;
  }
}
/* Handle first and last */
.work-timeline p:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.work-timeline p:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/*___________________________________________________________________________________________________________________________________________________________________________*/

.competences {
  grid-area: competences;
  padding: 50px 0 0 0;
}

.competences-title {
  display: flex;
  justify-content: center;
  margin: 0 auto 50px auto;
  font-size: 3rem;
}
.competences-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front-end, .back-end, .other{
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  margin-bottom: 100px;
}

.front-end div, .back-end div, .other div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f-e, .front-end + span, .back-end + span, .other + span {
  margin-bottom: 60px;
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: var(--font-color);
}

.front-end > div, .back-end > div, .other > div {
  width: 150px;
  height: 150px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: 2px solid transparent;
}

.front-end > div:hover, .back-end > div:hover, .other > div:hover {
  background-image: url(../asset/img/Vector.svg);
  background-size: cover;
  background-position: center;
  border: 2px solid var(--main-color);
  transition: all 0.2s ease-out;
}


/* MEDIAQUERRY */
@media (max-width: 1250px){
  header {
    width: 950px;
  }

  main {
    grid-area: main;
    display: grid;
    grid-template-areas:
      "hero"
      "about"
      "parcours"
      "work"
      "competences";
    grid-template-columns: 992px;
    grid-template-rows: 700px 700px 1500px 2000px auto;
    margin: 0 auto;
  }

  .hero {
    grid-template-areas: 
    "hero-left";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .hero-left {
    margin: 0;
    padding: 150px 0 0 50px;
  }

  .about {
    grid-template-areas:
    " about-left " 
    " about-right ";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 400px;
  }

  .about-right {
    justify-content: center;
  }

  .about-right img {
    width: 400px;
    padding: auto 50px 0 50px;
    border-radius: 20px;
    background-color: var(--main-color);
  }

  .about p {
    padding: 40px;
  }

  .parcours {
    grid-template-areas:
    "parcours-title"
    "parcours-timeline";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: none;
    align-items: none;
  }

  .parcours-title {
    width: 100%;
    background-color: var(--bg-color);
    border-bottom: 0px solid var(--secondary-color);
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 30px;
    margin-right: 0px;
    padding-bottom: 0px;
    padding-top: 20px;
  }

  .parcours-timeline {
    grid-area: parcours-timeline;
    margin-right: 0px;
  }

  .work {
    grid-template-areas:
    "work-title"
    "work-timeline";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: 0px solid var(--main-color);
  }
  
  .work-title {
    width: 100%;
    background-color: var(--bg-color);
    border-top: 3px solid var(--secondary-color);
    border-bottom: 0px solid var(--secondary-color);
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    padding-top: 20px;
  }
  
  .work-timeline {
    grid-area: work-timeline;
    margin-left: 0px;
    border-bottom: 3px solid var(--main-color);
  }
  
  .front-end, .back-end, .other{
    gap: 50px;
  }
}

@media (max-width: 1050px) {
  main {
    grid-area: main;
    display: grid;
    grid-template-areas:
      "hero"
      "about"
      "parcours"
      "work"
      "competences";
    grid-template-columns: 900px;
    grid-template-rows: 700px 700px 1500px 2000px auto;
    margin: 0 auto;
  }
}

@media (max-width: 950px) {
  header {
    width: 763px;
  }
  main {
    grid-area: main;
    display: grid;
    grid-template-areas:
      "hero"
      "about"
      "parcours"
      "work"
      "competences";
    grid-template-columns: 763px;
    grid-template-rows: 700px 700px 1500px 2000px auto;
    margin: 0 auto;
  }

  .front-end > div, .back-end > div, .other > div {
    width: 125px;
    height: 125px;
  }
}

@media (max-width: 800px)