:root {
  --color1: rgb(242, 119, 12);
  --color2: rgb(140, 14, 3);
  --color3: rgb(2, 115, 94);
  --color4: rgb(2, 89, 81);
  --color5: rgb(3, 65, 89);
  --bg-color: rgb(35, 35, 42);
  --nav-color : rgb(17, 17, 17);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {font-family: Poppins; background-color: var(--bg-color);}

 /* FONT  */
@font-face {
  font-family: Poppins;
  src: url(./ressources/fonts/Poppins-Medium.ttf);
}

