body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
/* NAVBAR */
header {
    position: fixed;
    width: 100%;
    margin: 0px auto;
    top: 0;
    z-index: 99;
    
}
nav {
    background-color: transparent;
    height: 80px;
    max-height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0px -15px 30px 2px var(--main-color);
}

nav ul {
    width: 97%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px auto;

}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(202, 202, 202);
    font-family: Barlow-Regular;
}

nav a:hover {
    color: var(--main-color);
}

nav li:first-child {
    margin-right: auto;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--bg-color);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.34);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media (max-width: 768px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}
@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}
/*______________________________________________________________________________________________*/

/* HERO-SECTION */
.hero {
    background-image: url(../images/Abstract-Design.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    margin: 0px auto 0px auto;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    color: white;
    background: transparent;
}

.hero-title h1 {
    font-size: 5rem;
    font-family: Barlow-SemiBold;
    background: linear-gradient(45deg, rgba(190,255,0,1) 0%, rgba(67,255,0,1) 100%);
    background-clip: text;
    color: transparent;
}

.hero-title h2 {
    font-size: 3rem;
    font-family: Barlow-SemiBold;
    background: transparent;
}

.hero-title h3 {
    font-size: 2rem;
    font-family: Barlow-SemiBold;
    background: transparent;
}

.github-icon {
    display: flex;
    width: 30px;
    background-color: transparent;
}
.git-button {
    display: flex;
    align-items: center;
    padding: 12px 40px;
    color: black;
    background-color: white;
    font-family: Barlow-Medium;
    font-size: 1.25rem;
    border-radius: 100px;
    margin-top: 100px;
    gap: 10px;
    border: 1px solid transparent;
}
.git-button:hover {
    border: 2px solid var(--main-color);
}
.parcours-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    min-height: 120px;
    border-top: 1px solid rgb(190, 255, 0, 0.2);
    border-bottom: 1px solid rgb(190, 255, 0, 0.2);
    background-image: url(../images/grid-pattern2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.parcours-section h2 {color: white; background: transparent; font-size: 2rem;}
/*__________________________________________________________________________________________________________________________*/

/* TEST TIMELINE */
.design-section {
    background-image: url(../images/Abstract-Design-reverse.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    min-height: 100vh;
    padding: 70px 0 50px 0;
}

.design {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 0;
    background-color: transparent;
}

.timeline-empty{background: transparent;}

.timeline-content {
    margin: 0.25rem;
    margin-bottom: 20px;
    padding: 0.5rem 1.75rem 1rem 1.75rem;
    background-color: transparent;
    -webkit-box-shadow: 5px 5px 2px 1px #1a1a1a, -5px -5px 2px 1px #242424;
    box-shadow: 1px 1px 2px 1px #43ff00, -1px -1px 2px 1px var(--main-color);
    border-radius: 5px;
    color: white;
    font-family: Barlow-SemiBold;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
}

.timeline-component {
    margin: 0px 20px 20px 20px;
    background-color: transparent;
}

.timeline-date {font-family: Barlow-ExtraBold; font-size: 3rem; margin-bottom: 1%; background: linear-gradient(45deg, rgba(190,255,0,1) 0%, rgba(67,255,0,1) 100%); background-clip: text; color: transparent;}
.location-icon {width: 15px; background: transparent; margin-right: 5px;}
.timeline-job {font-family: Barlow-Medium; background: transparent; margin-bottom: 10px;}
.timeline-component p {font-family: Barlow-Regular; background: transparent;}
/*__________________________________________________________________________________________________________________________*/

/* SKILL SECTION */
.skill-section {
    background-image: url(../images/skelleton-no-color.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto 0 auto;
    max-width: 90%;
    width: 90%;
    height: 70vh;
}

.skill-icon {width: 30px; background: transparent;}
.skill-name {color: white; background: transparent;}
.skill-card h2 { color: white; display: flex; justify-content: flex-end; margin-bottom: 15px; text-decoration: underline; text-decoration-color: var(--main-color); text-underline-offset: 5px;}
.skill-card2 h2 {color: white; margin-bottom: 15px; text-decoration: underline; text-decoration-color: rgba(67,255,0,1); text-underline-offset: 5px;}

.skill-card {
    display: flex;
    flex-direction: column;
    width: 15%;
    flex-wrap: wrap;
    gap: 10px;
    background: transparent;
}

.skill-card2 {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: max-content;
    flex-wrap: wrap;
    gap: 10px;
    background: transparent;
}

.skill-component {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    padding: 16px 50px;
    border: 1px solid transparent;
    border-right: 1px solid var(--main-color);
}
.skill-component2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    padding: 16px 50px;
    border: 1px solid transparent;
    border-left: 1px solid rgba(67,255,0,1);
}
.skill-component:hover {
    background-image: url(../icons/grid-point-pattern.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s ease-in-out;
    border: 1px solid var(--main-color);
}
.skill-component2:hover {
    background-image: url(../icons/grid-point-pattern.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s ease-in-out;
    border: 1px solid rgba(67,255,0,1);
}
/*__________________________________________________________________________________________________________________________*/
/* PROJECT SECTION */
.project-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 50px;
    gap: 50px;
}

.project {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-image: url(../images/hackaton-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px auto;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid orange;
}

.project h6 {
    font-family: Barlow-Bold;
    font-size: 3rem;
    margin-left: 2%;
    color: orange;
    background: transparent;
}

.project:hover {
    height: 100vh;
    filter: hue-rotate(0deg);
    border: 1px solid orange;
}
.project:hover h6 {
    display: none;
}

.project span {display: none; color: white;}
.project a {display: none;}

.project:hover span {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: black;
    margin-bottom: 50px;
    padding: 12px 22px;
}















@media screen and (max-width: 1280px){
    .hero-title {
        margin-top: 300px;
        gap: 20px;
    }
    .hero-title h1 {
        font-size: 3rem;
    }
    
    .hero-title h2 {
        font-size: 2rem;
    }
    
    .hero-title h3 {
        font-size: 1.5rem;
    }
    
    .github-icon {
        width: 25px;
    }
    .git-button {
        padding: 10px 32px;
        font-size: 1rem;
        margin-top: 50px;
    }
    .parcours-section h2 {font-size: 1.5rem;}
    .timeline-component h3 {font-size: 1rem;}
    .timeline-component p {font-size: 0.75rem;}
}
@media screen and (max-width: 1280px){
    .hero {
        background-image: url(../images/Abstract-Design.svg);
        background-size: 150%;
    }
    .design-section {
        background-image: url(../images/Abstract-Design-reverse.svg);
        background-size: 150%;

    }
}
@media screen and (max-width: 1280px){
    .hero {
        background-image: url(../images/Abstract-Design.svg);
        background-size: 200%;
    }
    .design-section {
        background-image: url(../images/Abstract-Design-reverse.svg);
        background-size: 200%;

    }
}























/*TIMELINE RESPONSIVE*/
@media screen and (min-width: 768px) {
    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
    }

    .timeline-middle {
        position: relative;
        background-image: linear-gradient(45deg, var(--main-color), var(--main-color), #43ff00);
        width: 3px;
        height: 100%;
    }

    .main-middle {
        opacity: 0;
    }

    .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #43ff00, #43ff00, #43ff00);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}