/* TODO CE STYLE html ET body POURRAIT ÊTRE DANS LE GLOBAL */
html {
  background-color: var(--bg-color);
}

header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* border-left: 1px solid red; */
  /* border-right: 1px solid red; */
  border-bottom: 1px solid var(--line-color);
  font-family: Barlow-Medium;
}

.nav-all-item {
  display: flex;
  width: 100%;
  padding: 0px 162px 0px 162px;
  align-items: center;
}

#nav-logo {
  display: flex;
  height: 100%;
  /* border: 1px solid green; */
  align-items: center;
  gap: 10px;
}

#nav-logo a {
  color: white;
  font-family: Barlow-Bold;
  font-size: 1.4rem;
}

.title-bar {
  color: rgba(80, 35, 255, 1);
}

.logo-navbar {
  width: 60px;
}

.contact-button {
  margin-left: 110px;
}

nav {
  width: 100%;
  /* border: 1px solid purple; */
  display: flex;
  justify-content: center;
  gap: 37%;
}

#nav-conatainer {
  /* border: 1px solid red; */
  list-style: none;
  display: flex;
  align-items: center;
  color: white;
  gap: 30px;
}
#nav-conatainer a {
  background-color: transparent;
  padding: 20px;
}
#nav-conatainer a:hover {
  padding: 20px;
}

.nav-item {
  font-size: 1.25rem;
}

/*  
    TODO REPETITION ENTRE LE BOUTON DE LA NAV ET CELUI DU HERO
    POSSIBILITE DE FAIRE DES CLASSES DANS LE GLOBAL
    COMME CA SI TU RAJOUTES PLUS TARD DES BOUTONS TON STYLE SERA DISPONNIBLE
*/
#contact-button {
  background-color: var(--main-color);
  box-shadow: 0px 0px 10px 0px var(--main-color);
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
#contact-button:hover {
  background-color: var(--main-hover-color);
  border: 1px solid rgba(80, 35, 255, 1);
}
#contact-button:active {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: white;
}
