#techno-container {
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--line-color);
  border-left: 1px solid var(--line-color);
  border-right: 1px solid var(--line-color);
  display: flex;
  flex-direction: row;
  margin: 0px 162px 0px 162px;
  height: 170px;
}

.techno-icon {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

/* TODO REPETITION DU MEME CODE POUR LES LOGO
    POSSIBLE DE FAIRE UNE SEULE CLASS techno-logo ET L'APPLIQUER SUR CHAQUE DIV

    UN TRUC DES DEVS C'EST LE "DRY" => DON'T REPEAT YOURSELF
    SI TU VOIS UNE REPETITION C'EST QUE TU PEUX LE FAIRE DE FACON PLUS SUCCINTE
*/
.techno-logo {
  padding: 5px;
  border-radius: 8px;
  border: 2px solid var(--line-color);
}

